.card {
    margin: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    word-break: break-all;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 3px var(--secondary-color);
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-nome{
    width: 100%;
}
.card-link p{
    width: 100%;
}

.card:hover{
    cursor: pointer;
}

.botao-delete, .botao-edit{
    margin: 0;
    padding: 0;
    width: 36px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 360px;
}

.botao-container{
    display: flex;
}