:root {
  --mobilexs: 320px;
  --mobile: 576px;
  --tablet: 768px;
  --desktop: 1024px;
  --large-desktop: 1200px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.App {
  width: 100vw;
  min-height: 100vh;
  min-width: var(--mobile);
  background-color: var(--primary-color);
  overflow: hidden;
  min-width: 320px;
}