.menu_lista {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 5px;
    width: 50%;
    color: var(--secondary-color);
    font-weight: bold;
}

.menu_itens {
    margin: 10px;
    list-style: none;
    cursor: pointer;
}