@media (min-width: 576px) {
    .card-container {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .card-container {
        max-width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .card-container {
        max-width: 60%;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .card-container {
        max-width: 45%;
        margin: 0 auto;
    }
}